# fly.toml app configuration file generated for stonecraft123 on 2025-10-06T20:00:26+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "stonecraft"
primary_region = "fra"

[http_service]
auto_start_machines = true
auto_stop_machines = true
force_https = true
internal_port = 80
min_machines_running = 0
processes = ["app"]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
memory_mb = 1024
